.favourite-button {
  display: flex;
  gap: 4px;
  max-height: 34px;
  max-width: 135px;
  padding: 5px 10px;
  text-transform: none;
  color: var(--black-color);
  border: solid 2px var(--gray-light-color);
  white-space: nowrap;
  &--sm {
    min-width: 0;
    width: 32px;
    height: 32px;
    border-radius: 4px;
  }
}

.favourite-button__icon {
  color: rgba(0, 0, 0, 0.56);
}
