.requests-layout-button-group {
  border: 2px;
}

.requests-layout-button-group__icon {
  &--active {
    color: var(--black-color);
  }
}

.requests-layout-button-group__action-button {
  padding: 8px;
  width: 40px;
  height: 40px;
  background-color: var(--white-color);
  &--active {
    background-color: var(--gray-light-color);
  }
}
