.profile-contacts {
  margin-bottom: 14px;
}

.profile-contacts__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 2.5;
}

.profile-contacts__text {
  font-weight: 400;
  font-size: 14px;
}

.profile-socials {
  display: 'flex';
  gap: 14px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.profile-socials__text {
  font-weight: 400;
  font-size: 14px;
}
