.requests-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.requests {
  display: grid;
  &--vertical {
    grid-template-columns: repeat(3, 320px);
    gap: 24px;
  }
  &--horizontal {
    grid-template-rows: repeat(3, 322px);
  }
}

.requests-pagination {
  display: flex;
  justify-content: center;
}
