.requests-map {
  width: 1000px;
  height: 850px;
}

.requests-map__marker {
  width: 17px;
  height: 17px;
  background-color: #cc3d6f;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 9px rgb(204, 61, 111, 0.3);
}
